*{
    
    overflow: hidden;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    font-size: large;
    
}
.top{
    margin-top: 70px;
    font-size: xx-large;
    align-self: center;
    display: flex;
    justify-content: 'center';
    align-items: 'center';
    color: white;
    padding-left: 40px;
    
}
.page{
    height: 100vh;
    width:100vh;
    background-image:url(Desktop\ -\ 3.jpg);
    background-repeat: no-repeat;
    width:100%;
    background-size: cover;
}
label{
    padding: 5px;
    
}
input{
    border-radius: 10px;
    border-color: 2px solid rgba(255,255,255,0.1);
    border: 2px solid rgb(243, 238, 229);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 16px;
    width: 98%;
    

}
.cover{
    justify-content: center;
    align-items: center;
    align-self: center;
    display: 'flex';
    top: 30%;
    left: 53%;
    margin-left: -219px;
    margin-top: -100px;
    padding: 45px ;
    width: 25em;
    height: 20em;
    border-radius: 10px;
    background-color: rgba(140, 216, 164, 0.136);
    position: absolute;
    color:rgb(243, 241, 250);
    
    border: 2px solid rgba(255,255,255,0.1);

    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(19px);

}
.btn{
    background-color: rgb(46, 184, 133);
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 40px 70px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(173, 172, 184);
    color:black;

}
